/*couleur : https://www.realtimecolors.com/?colors=0d0c08-fcfbf8-ebe6d7-e6d192-e8c45b&fonts=Inter-Inter */


/* CSS Reset */
* {
    margin : 0 ;
    padding : 0 ;
    font-family: 'Poppins', sans-serif; /* meme police d'écriture sur tout la page */
    box-sizing: border-box; /* évite les débordements non voulus */
}

html {
    scroll-behavior: smooth; /* Pour que les animation lors de clique sur la navbar sous plus smooth */
}

body {
    background: #fcfbf8; 
    color: #0d0c08; /* couleur du texte */
}

/*------------------------  Header section  ------------------------*/

.gride-line {
    display: grid; /* Pour dire que c'est une grille */
    grid-template-columns: 10% 80% 10% ; /* Taille de la grille horizontale */
    grid-template-rows: 20% 80% ; /* Taille de la grille verticale */
    min-height: 100vh; /* hauteur égale a la fenetre */
    width: 100%; /* Prendre tout de la fenetre */
}

.item1 {
    grid-column-start: 1 ;
    grid-column-end: 2 ;
    grid-row-start: 1 ;
    grid-row-end: 2 ;
    border-right: solid;

    position: relative; /* Pour le déplacer par rapport a sa position initiale + devient un parent */
    overflow: hidden ; /* masque tout ce qui dépasse de la case */
}

.item2 {
    grid-column-start: 2 ;
    grid-column-end: 3 ;
    grid-row-start: 1 ;
    grid-row-end: 2 ;
}

.item3 {
    grid-column-start: 3 ;
    grid-column-end: 4 ;
    grid-row-start: 1 ;
    grid-row-end: 2 ;
    border-left: solid;
}

.item4 {
    grid-column-start: 1 ;
    grid-column-end: 2 ;
    grid-row-start: 2 ;
    grid-row-end: 4 ;
    border-right: solid;
    border-top: solid;
}

.item5 {
    grid-column-start: 2 ;
    grid-column-end: 3 ;
    grid-row-start: 2 ;
    grid-row-end: 4 ;
    border-top: solid;
}

.item6 {
    grid-column-start: 3 ;
    grid-column-end: 4 ;
    grid-row-start: 2 ;
    grid-row-end: 4 ;
    border-top: solid;
    border-left: solid;
}

.item {
    border-color: #e8c45b ;
    border-width: 0.20cap ;
}

.logo {
    display: block ;
    width: 100% ; /* Pour qu'on puissent la voir en entier*/
    transform: scale(2); /* Pour que l'image sois plus zoomer et plus grand */
}

.item1 p {
    text-align: center ; /* aligne le texte et le logo */
    font-size: 20px;
    font-weight: 700;
}

/*------------------------   section  ------------------------*/
