/*couleur : https://www.realtimecolors.com/?colors=0d0c08-fcfbf8-ebe6d7-e6d192-e8c45b&fonts=Inter-Inter */


/* CSS Reset */
* {
    margin : 0 ;
    padding : 0 ;
    font-family: 'Poppins', sans-serif; /* meme police d'écriture sur tout la page */
    box-sizing: border-box; /* évite les débordements non voulus */
}

html {
    scroll-behavior: smooth; /* Pour que les animation lors de clique sur la navbar sous plus smooth */
}

body {
    background: #fcfbf8; 
    color: #0d0c08; /* couleur du texte */

}

    /* Typographie */   
.parisienne-regular { 
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
  color: #0d0c08;
}

.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


/*------------------------  Header section  ------------------------*/

.gride-line {
    display: grid; /* Pour dire que c'est une grille */
    grid-template-columns: 10% 80% 10% ; /* Taille de la grille horizontale */
    grid-template-rows: 20% 80% ; /* Taille de la grille verticale */
    min-height: 100vh; /* hauteur égale a la fenetre */
    width: 100%; /* Prendre tout de la fenetre */
}

.item1 {
    grid-column-start: 1 ;
    grid-column-end: 2 ;
    grid-row-start: 1 ;
    grid-row-end: 2 ;
    border-right: solid;
    border-color: #e8c45b ;
}

.item2 {
    grid-column-start: 2 ;
    grid-column-end: 3 ;
    grid-row-start: 1 ;
    grid-row-end: 2 ;
}

.item3 {
    grid-column-start: 3 ;
    grid-column-end: 4 ;
    grid-row-start: 1 ;
    grid-row-end: 2 ;
    border-left: solid;
}

.item4 {
    grid-column-start: 1 ;
    grid-column-end: 2 ;
    grid-row-start: 2 ;
    grid-row-end: 4 ;
    border-right: solid;
    border-top: solid;
    border-bottom: solid;
}

.item5 {
    grid-column-start: 2 ;
    grid-column-end: 3 ;
    grid-row-start: 2 ;
    grid-row-end: 4 ;
    border-top: solid;
    border-bottom: solid;
}

.item6 {
    grid-column-start: 3 ;
    grid-column-end: 4 ;
    grid-row-start: 2 ;
    grid-row-end: 4 ;
    border-top: solid;
    border-left: solid;
    border-bottom: solid;
}

.item {
    border-color: #e8c45b ;
    border-width: 0.20cap ;

    position: relative; /* Pour le déplacer par rapport a sa position initiale + devient un parent */
    overflow: hidden ; /* masque tout ce qui dépasse de la case */
}

/*---------- Personalisation des grille du header ---------*/

/*---- logo_gride_1  ----*/

.logo {
    display: block ;
    width: 100% ; /* Pour qu'on puissent la voir en entier*/
    transform: scale(2); /* Pour que l'image sois plus zoomer et plus grand */
}

.item1 p {
    text-align: center ; /* aligne le texte et le logo */
    font-size: 20px;
    font-weight: 700;
}

/*---- Burger-menu_gride_4  ----*/

.btn-menu {
    background: #e6d192;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    cursor: pointer;
    width: 60px ;
    height: 60px ;
    border-radius: 15px;
    box-shadow: 6px 6px 12px #e8c45b,
                -6px -6px 12px #e6d192;
}

.ligne { /* ligne du milieu */
    width: 45%;
    height: 4px;
    border-radius: 5px;
    background: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0ms 300ms; 
}

.ligne::before { /* ligne du haut */
    content: '' ; /* Obligatoire : Sans cette ligne, le ::before n'apparaîtra pas à l'écran */
    position: absolute ; /* Se déplacer par rapport a son parent (parent : "position: relative;" plus haut ) */
    bottom: 13px ; 
    background: #333 ;
    width: 100% ;
    height: 4px;
    border-radius: 8px;
    transition: bottom 350ms 350ms ease, transform 350ms ease;
}

.ligne::after { /* ligne du bas */
    content: '' ; /* Obligatoire : Sans cette ligne, le ::after n'apparaîtra pas à l'écran */
    position: absolute ; /* Se déplacer par rapport a son parent (parent : "position: relative;" plus haut ) */
    top: 13px ; 
    background: #333 ;
    width: 100% ; 
    height: 4px;
    border-radius: 8px;
    transition: top 350ms 350ms ease, transform 350ms ease;
}

.btn-menu.active .ligne::after {
    top: 0;
    transform: rotate(45deg);
    transition: top 350ms ease, transform 350ms 350ms ease;
}

.btn-menu.active .ligne {
    background: transparent;
}

.btn-menu.active .ligne::before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 350ms ease, transform 350ms 350ms ease;
}

/*---- Burger-menu_gride_4  ----*/




/*---- Links_gride_6 ----*/

.social-icons {
    position: absolute;
    top: 37%;
    left: 40%;
}

.social-icons a {
    text-decoration: none ; /* enlever le soulignage */
    font-size: 35px ;
    margin-right: 15px ; /* Pour les faire passer en ligne */
    margin-bottom: 10px;
    color: #e6d194 ;
    display: inline-block ; /* Pour les mettre sur la meme ligne */
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #e8c45b;
    transform: scale(1.5); /* pour faire l'effet ou dès qu'on pass la souris sa monte un peu */
}


/*---- Principale_gride_5 ----*/

.title-header_1 {
    font-size: 100px;
    font-weight: 400;
    margin-left: 30px;
    margin-top: 50px;
}

.title-header_2 {
    font-size: 100px;
    position: absolute;
    left: 18% ;
    top: 27%;
}

.item5 h2 {
    font-size: 60px;
    font-weight: 400;
    position: absolute;
    top: 49% ;
    left: 55% ;
}

.item5 .paragraph_item5_1 {
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    top: 74% ;
    left: 30% ;
}

.item5 .paragraph_item5_2 {
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    top: 77% ;
    left: 42% ;
}


/*---- Navbar-menu_gride_2  ----*/

.navbar {
    background: #fcfbf8; 
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    cursor: pointer;
    width: 500px ;
    height: 60px ;
    border-radius: 25px;
    box-shadow: 6px 6px 12px #e8c45b,
                -6px -6px 12px #e6d192;
}


/*------------------------  Portfolio section  ------------------------*/

#Projets {
    padding: 50px 0 ; 
}

.sub-title {
    font-size: 100px;
    margin-left: 35%;
}


.work-list {
    display: grid ; /* crée une mise en page collonnes et ligne , 2d*/
    grid-template-columns: repeat( 3, 350px ) ; /* crée case avec un largeur de 250px mais pourra prendre tout si il reste de l'espace (1fr) , auto-fit pour mettre  un nb de case par rapport a la taille de l'écran*/
    grid-auto-rows: 380px;
    grid-gap: 40px ; /* espace de 40px entre chaque cases */
    margin-top: 50px ;
    margin-left: 20%;
}



.work {
    border-radius: 10px ;
    position: relative; /* Pour le déplacer par rapport a sa position initiale + devient un parent */
    overflow: hidden ; /* masque tout ce qui dépasse de la case crée dans .work-list */
}

.work img {
    width: 100% ; /* pour voir l'image en entière */
    border-radius: 10px ;
    display: block ; /* Se déplacer par rapport a son parent (parent : "position: relative;" plus haut ) */
    transition: transform 0.5s; /* Pour faire un effet de zoom sur l'image */
}


.layer {
    width: 100% ;
    height: 0 ; /* Masqué par défaut */
    background: linear-gradient( rgba(238, 234, 173, 0.801), #e8c45b ) ; /* noir avec 60% d'oppacité */
    border-radius: 10px ;
    position: absolute ; /* Pour pouvoir le bouger */
    left: 0;
    bottom: 0;
    overflow: hidden; /* masque tout ce qui dépasse de la case crée */
    display: flex; /* active flexbox et donc tout les enfant vont suivre les regle flexbox plutot que celle de HTML*/
    align-items: center; /* aligner par rapport au centre */
    justify-content: center ; /* aligner le contenu au milieu en prenant aussi le haut et bas */   
    flex-direction: column ; /* aligne les élément les une en desous des autre , en colonne */
    padding: 0 40px;
    text-align: center ;
    font-size: 14px;
    transition: height 0.5s;
}


.layer h3 {
    font-weight: 700 ; /* l'épaisseur de la police : le gras */
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px ;
    color: #e8c45b;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px; /* emt de l'espace entre chaque ligne d'un texte , pour qu'il soit aérer*/
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;  /* 50% cela deviens un cercle */
    text-align: center;
}

.work:hover img {
    transform: scale(1.1); /* Pour faire un effet de zoom sur l'image */
}

.work:hover .layer {
    height: 100%;
}

.btn { 
    background: #fcfbf8; 
    margin-left: 50%;
    margin-top: 4% ;
    padding-top: 17px;
    text-align: center;
    font-size: 20px;
    transform: translate(-50%, -50%) ;
    cursor: pointer;
    width: 200px ;
    height: 60px ;
    border-radius: 25px;
    box-shadow: 6px 6px 12px #e8c45b,-6px -6px 12px #e6d192;
    text-decoration: none ; /* enlever le soulignage */
    transition: background 0.5s;
}

.btn:hover {
    background: #e8c45b;
}

/*------------------------  about Me section  ------------------------*/

#about {
    padding: 80px 0 ;
}


/*------------------------   section  ------------------------*/


