/*couleur : https://www.realtimecolors.com/?colors=0d0c08-fcfbf8-ebe6d7-e6d192-e8c45b&fonts=Inter-Inter */


/* CSS Reset */
* {
    margin : 0 ;
    padding : 0 ;
    font-family: 'Poppins', sans-serif; /* meme police d'écriture sur tout la page */
    box-sizing: border-box; /* évite les débordements non voulus */
}

html {
    scroll-behavior: smooth; /* Pour que les animation lors de clique sur la navbar sous plus smooth */
}

body {
    background: #fcfbf8; 
    color: #0d0c08; /* couleur du texte */

}

/*------------------------  Header section  ------------------------*/

.gride-line {
    display: grid; /* Pour dire que c'est une grille */
    grid-template-columns: 10% 80% 10% ; /* Taille de la grille horizontale */
    grid-template-rows: 20% 80% ; /* Taille de la grille verticale */
    min-height: 100vh; /* hauteur égale a la fenetre */
    width: 100%; /* Prendre tout de la fenetre */
}

.item1 {
    grid-column-start: 1 ;
    grid-column-end: 2 ;
    grid-row-start: 1 ;
    grid-row-end: 2 ;
    border-right: solid;
    border-color: #e8c45b ;
}

.item2 {
    grid-column-start: 2 ;
    grid-column-end: 3 ;
    grid-row-start: 1 ;
    grid-row-end: 2 ;

    
}

.item3 {
    grid-column-start: 3 ;
    grid-column-end: 4 ;
    grid-row-start: 1 ;
    grid-row-end: 2 ;
    border-left: solid;
}

.item4 {
    grid-column-start: 1 ;
    grid-column-end: 2 ;
    grid-row-start: 2 ;
    grid-row-end: 4 ;
    border-right: solid;
    border-top: solid;
    
}

.item5 {
    grid-column-start: 2 ;
    grid-column-end: 3 ;
    grid-row-start: 2 ;
    grid-row-end: 4 ;
    border-top: solid;
}

.item6 {
    grid-column-start: 3 ;
    grid-column-end: 4 ;
    grid-row-start: 2 ;
    grid-row-end: 4 ;
    border-top: solid;
    border-left: solid;
}

.item {
    border-color: #e8c45b ;
    border-width: 0.20cap ;

    position: relative; /* Pour le déplacer par rapport a sa position initiale + devient un parent */
    overflow: hidden ; /* masque tout ce qui dépasse de la case */
}

/*---------- Personalisation des grille du header ---------*/

/*---- logo_gride_1  ----*/

.logo {
    display: block ;
    width: 100% ; /* Pour qu'on puissent la voir en entier*/
    transform: scale(2); /* Pour que l'image sois plus zoomer et plus grand */
}

.item1 p {
    text-align: center ; /* aligne le texte et le logo */
    font-size: 20px;
    font-weight: 700;
}

/*---- Burger-menu_gride_4  ----*/

.btn-menu {
    background: #e6d192;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    cursor: pointer;
    width: 60px ;
    height: 60px ;
    border-radius: 15px;
    box-shadow: 6px 6px 12px #e8c45b,
                -6px -6px 12px #e6d192;
}

.ligne { /* ligne du milieu */
    width: 45%;
    height: 4px;
    border-radius: 5px;
    background: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0ms 300ms; 
}

.ligne::before { /* ligne du haut */
    content: '' ; /* Obligatoire : Sans cette ligne, le ::before n'apparaîtra pas à l'écran */
    position: absolute ; /* Se déplacer par rapport a son parent (parent : "position: relative;" plus haut ) */
    bottom: 13px ; 
    background: #333 ;
    width: 100% ;
    height: 4px;
    border-radius: 8px;
    transition: bottom 350ms 350ms ease, transform 350ms ease;
}

.ligne::after { /* ligne du bas */
    content: '' ; /* Obligatoire : Sans cette ligne, le ::after n'apparaîtra pas à l'écran */
    position: absolute ; /* Se déplacer par rapport a son parent (parent : "position: relative;" plus haut ) */
    top: 13px ; 
    background: #333 ;
    width: 100% ; 
    height: 4px;
    border-radius: 8px;
    transition: top 350ms 350ms ease, transform 350ms ease;
}

.btn-menu.active .ligne::after {
    top: 0;
    transform: rotate(45deg);
    transition: top 350ms ease, transform 350ms 350ms ease;
}

.btn-menu.active .ligne {
    background: transparent;
}

.btn-menu.active .ligne::before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 350ms ease, transform 350ms 350ms ease;
}

/*---- Burger-menu_gride_4  ----*/




/*---- Links_gride_6 ----*/

.social-icons {
    position: absolute;
    top: 37%;
    left: 40%;
}

.social-icons a {
    text-decoration: none ; /* enlever le soulignage */
    font-size: 35px ;
    margin-right: 15px ; /* Pour les faire passer en ligne */
    margin-bottom: 10px;
    color: #e6d194 ;
    display: inline-block ; /* Pour les mettre sur la meme ligne */
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #e8c45b;
    transform: scale(1.5); /* pour faire l'effet ou dès qu'on pass la souris sa monte un peu */
}




/*------------------------   section  ------------------------*/
