*, *:hover {
	cursor: none !important;
}

html, body {
	cursor: none;
}

#dot {
	position: fixed;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	pointer-events: none;
	z-index: 999;
	transform: translate(-50%, -50%);
	mix-blend-mode: screen;
	background: #e86026;
}

#ring {
	position: fixed;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	pointer-events: none;
	z-index: 998;
	transform: translate(-50%, -50%);
	border: 1px solid rgba(232, 96, 38, .6);
	transition: width 0.3s, height 0.3s, border 0.4s;
}
